<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Edit</title>
    <link rel="stylesheet" href="../../css/edit.css" />
    <link rel="stylesheet" href="../../css/home.css" />
    <script defer src="edit.js"></script>
  </head>

  <body>
    
    <nav>
      <div class = "logo">
        <img src="/0 - START CODE/img/home/logo.svg" alt="Logo" width="50" height="50">
        <span><a href="/0 - START CODE/index.html">Quizzer</a></span>
      </div>
      <ul class="nav-links">
        <li><a href="/0 - START CODE/views/edit/edit.html">Edit Quiz</a></li>
        <li><a href="/0 - START CODE/views/play/play.html">Play Quiz</a></li>
      </ul>
    </nav>

    

    <div class="edit-container">
        <button id="add-question-btn">Add question</button>
        <div class="question-list">

        </div>
    </div>
    
    <div class="modal-overlay" id="question-modal">
        <div class="modal-content">
            <div class="modal-header">Create new question</div>
            <div class="modal-body">
                
                <label>Title</label>
                <div class="title-input">
                    <input type="text" placeholder="Question title">
                </div>
                
                <label>Answers</label>
                <div class="answer-input">
                    <input type="text" placeholder="Answer A">
                    <input type="text" placeholder="Answer B">
                    <input type="text" placeholder="Answer C">
                    <input type="text" placeholder="Answer D">
                </div>
            </div>

            <div class="modal-footer">
                <button id="cancel-btn">Cancel</button>
                <button id="create-btn">Create</button>
            </div>
        </div>
    </div>


  </body>