<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Quiz</title>
    <link rel="stylesheet" href="../../css/play.css" />
    <script defer src="play.js"></script>

  </head>
  <body>
    <div id="start" style="display: none">Start Quiz!</div>

    <div id="quiz">
      <div id="question">QQQQQQQQ</div>

      <div id="choices">
        <div class="choice" id="A" onclick="checkAnswer('A')">AAAA</div>
        <div class="choice" id="B" onclick="checkAnswer('B')">BBBB</div>
        <div class="choice" id="C" onclick="checkAnswer('C')">CCCC</div>
        <div class="choice" id="D" onclick="checkAnswer('D')">DD</div>
      </div>

      <div id="scoreContainer" style="display: none"></div>
    </div>

  </body>
</html>